body {
  background-color:  #610202;
}

button {
  font-size: 47px;
  margin: auto;
  display: flex;
  font-family: 'Cinzel', serif;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #610202;
}

li:hover {
  cursor: pointer;
  cursor: hand;
}

.paragraph {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.title {
  color: white;
  font-size: 60px;
  text-align: center;
}

.name {
  color: white;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
}

.description {
  font-family: 'Quattrocento', serif;
  color: white;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 35px;
}

.answers {
  font-size: 35px;
  color: white;
  text-align: center;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
#title {
  padding: 25px;a
  border-width: 30px;
  border-radius: 10px;
  margin: 27px;
  background-color: #000000;
  border-style: ridge;
  font-family: 'Cinzel', serif;
}
